.like-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  
  .heart-icon {
    margin-left: 0.5rem;
    transition: fill 0.3s ease-in-out;
  }
  
  .heart-icon.liked {
    fill: #ff0000; /* Red color for liked heart */
  }
  