.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none ;
    position: absolute;
    background-color: none;
    color: white;
    min-width: 160px;
    
    z-index: 1;
    
}


.dropdown:hover .dropdown-content {
    display: block;
    height: auto; /* Remove the fixed height to allow content to expand */ 
    list-style: none;
    /* left: flex; */
    top: 100%;
    display: flex;
    gap: 21px;
    right: 0%;
    text-align: center;
    font-size: x-large;
    background-color: rgb(17 24 39 );
    backdrop-filter: blur(10px);
    width:100%;
     ;
    /* top: 10%; */
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    align-content: space-between;
}
